server:
        hide-version: yes

## bind to a specific address/port
        ip-address: 192.168.{{ random_octet }}.1@5053
        ip-address: 127.0.0.1@5053

remote-control:
        control-enable: yes

zone:
    name: "{{ internal_domain }}"
    zonefile: "{{ internal_domain }}.zone"

zone:
    name: "{{ random_octet }}.168.192.in-addr.arpa"
    zonefile: "{{internal_domain}}.zone.rev4"
