self = "{ (egress), (vether0) }"
int_if="{ vether0 em1 em2 em3 }"
wan_if="em0"
lan="192.168.{{ random_octet }}.0/24"

table <martians> { 0.0.0.0/8 10.0.0.0/8 127.0.0.0/8 169.254.0.0/16     \
                   172.16.0.0/12 192.0.0.0/24 192.0.2.0/24 224.0.0.0/3 \
                   198.18.0.0/15 198.51.100.0/24        \
                   203.0.113.0/24 }

set optimization aggressive
set state-defaults pflow
set block-policy drop
set loginterface egress
set skip on lo

# match so that we can pass later.
match in all scrub (no-df random-id max-mss 1440)
# set things up to nat properly on the wan
match out on $wan_if inet from $lan to any nat-to ($wan_if)

# default deny
block all

#  pass all outgoing packets on internal interface
pass out on $int_if to {$lan, $lan_net}

#  pass in quick any packets destined for the gateway itself
pass in quick on $int_if from {$lan, $lan_net} to { $lan, $lan_net }


# pass out anything from the normal network through the normal wan and let it back in
pass out on $wan_if inet from $lan flags S/SA modulate state nat-to ($wan_if)

pass out quick inet keep state
antispoof quick for $int_if

pass in quick on $int_if inet
pass in on egress inet proto tcp from any to (egress) port 22 label "external_ssh"
pass in on egress inet proto tcp from any to (egress) port { 80 443 } label "exernal_web"

# By default, do not permit remote connections to X11
block return in on ! lo0 proto tcp to port 6000:6010
